body{
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgba(51, 50, 50, 0.849);
        }
        /*navigation bar styling*/
        nav{
            position: fixed;
            background-color: pink;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 15px 10px;
            z-index: 1000;
            transition: background-color 0.3s ease;
            width: 100%;
        }
        .logo{
            text-transform: uppercase;
            font-size: 25px;
            font-weight: bold;
            gap: 10px;
        }
        .navbar{
            display: flex;
            gap: 50px;
        }
        .navbar a{
            text-decoration: none;
            color: black;
        }
        .navbar a:hover{
            color: white;
        }
        /*hero section*/
        .hero-section{
            background-image: url(images/bg\ 1.jpg);
            background-size: cover;
            color: pink;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400px;
            gap: 100px;
            padding: 40px;
        }
        .hero-section .image{
            height: 300px;
            width: 300px;
            border-radius: 20px;
        }
        .hero-text{
            max-width: 500px;
        }
        .hero-text h1{
            text-transform: uppercase;
            font-size: 24px;
        }
        .hero-text p{
            font-size: 18px;
            line-height: 1.6;
        }
        button{
            background-color: pink;
            border: transparent;
            border-radius: 10px;
            height: 30px;
            width: 100px;
        }
        button:hover{
            color: white;
        }
        /*about me section*/
        .about-me{
            display: flex;
            justify-content:center;
            align-items: center;
            color: pink;
            padding: 40px;
            gap: 20px;
        }
        .about-text{
            width: 600px;
            line-height: 1.6;
        }
        .about-me .image{
            height: 300px;
            max-width: 300px;
            width: 100%;
            border-radius: 20px;
        }
        /*services section*/
        .my-services{
            background-image: url(images/bg\ 1.jpg);
            background-size: cover;
            justify-content: center;
            align-items: center;
        }
        .my-services h1{
            text-align: center;
            color: pink;
        }
        .cards{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px;
            gap: 20px;

        }
        .card1{
            border: solid pink;
            border-radius: 10px;
            box-shadow: 5px 5px 3px pink;
            line-height: 1.6;
        }
        .card1 h2{
            color: pink;
        }
        .card1 p{
            color: pink;
        }